{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>Michael Barnes</h1>
    <p>An experienced business owner with a late found passion for technology.</p>
    <!--I would suggest choosing a different picture here.-->
    <!--Like maybe a hobby photo-->
    <img src="https://media.licdn.com/dms/image/C5603AQHCs1knpSV-xw/profile-displayphoto-shrink_400_400/0/1548294722908?e=1693440000&v=beta&t=WQXgYr8bgjhAyO5Ev-7aqGuEJ2buQNRiXfwDwlfXJ48"
         alt="Headshot of myself">

</section>
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>Professional Experience</h2>
    <p>
        With over a decade of diverse professional experience, I am the President & CEO of SNK Media Group, a
        thriving digital marketing company specializing in lead generation and brokering. Since founding the
        company in 2017, I have been instrumental in its setup, creation, and management. Over time,
        I have built a highly capable team to handle day-to-day operations, while I focus on exploring and
        implementing technology solutions to enhance company performance. As a quasi-CTO, I have been responsible
        for testing, designing, and implementing various tech integrations, particularly in the realm of real-time
        lead auction systems using API to API communications. I have a strong grasp of API interfacing,
        authentication, and communications, and have gained proficiency in Python, Django, FastAPI, and other
        technologies through my commitment to continuous learning.
    </p>
    <p>
        Prior to my current role, I served as the Sales & Marketing Manager for Waterman Brewing Company, where I played
        a pivotal role in building and setting up the brewery. In addition to managing daily operations of the Tasting
        Room and overseeing sales for external accounts, I honed my skills in project management, problem-solving, and
        effective communication. Furthermore, my experience with the Department of Veterans Affairs, where I progressed
        to the position of Supervisor, allowed me to develop fundamental managerial abilities while leading teams of up
        to 20 employees.
    </p>
    <p>
        Notable projects that highlight my technical proficiency include the creation of a working prototype of a Ping
        Post software using FastAPI, replacing our existing licensed system. I have also developed a fully dynamic
        Django website framework, which enables uniformity across all our content websites, while allowing for remote
        updates via API interfaces with a Postgres database. With my versatile skill set and a strong foundation in
        business management, I am poised to make a significant impact in any technology-driven environment.
    </p>
    <a href="https://drive.google.com/file/d/1XMlZrp8WyO4oTL4mktGUz1DEAUzPNqmn/view?usp=sharing"><i
            class="far fa-file"></i>Resume</a>
</section>
{% endblock %}